@media only screen and (max-width: 800px){
	width:50%
	font-size:10%
}


.cuerpo{
	display: flex;
	width: 500px;
	height: 650px;
	border: 1px solid;
	background: lightgray;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
	column-gap: 40px;
	positive: absolute;
}

.resultado {
	width: 400px;
	margin-top: 20px;
	margin-left: 45px;
	height: 50px;
	background-color:black;
	font-family: 'Roboto Mono',monospace;
	color: #02e802;
	font-size: 25px;
}

button{
font-family: sans-serif;
font-size: 20px;
margin: 30px;
width: 55px;
height: 55px;
border: none;
background-color: #c2bcbc
;
}

.numero{
	background-color: white;
}

.igual{
	background-color: yellow;
}

.reset{
	background-color: orange;
	width: 55px;
	height: 15px;
	margin-top: -15px;
	margin-left: 30px;
}